module testbench;
  import uvm_pkg::*;
  //import test_pkg::*;
  import uart_pkg::*;
  import ahb_pkg::*;
  import test_pkg::*;  

  ahb_if  ahb_vif();
  uart_if uart_vif();

  uart_top u_dut(
    .HCLK(ahb_vif.HCLK),
    .HRESETN(ahb_vif.HRESETn),
    .HADDR(ahb_vif.HADDR),
    .HBURST(ahb_vif.HBURST),
    .HTRANS(ahb_vif.HTRANS),
    .HSIZE(ahb_vif.HSIZE),
    .HPROT(ahb_vif.HPROT),
    .HWRTE(ahb_vif.HWRTE),
    .HWDATA(ahb_vif.HWDATA),
    .HSEL(ahb_vif.HSEL),
    .HREADYOUT(ahb_vif.HREADYOUT),
    .HRDATA(ahb_vif.HRDATA),
    .HRESP(ahb_vif.HRESP),
    .uart_rxd(uart_vif.TX),
    .uart_txd(uart_vif.RX),
    .interrupt(),
  );

  assign ahb_vif.HSEL = 1'b1;

  initial begin
    ahb_vif.HRESETn = 0;
    #100ns ahb_vif.HRESETn = 1;
  end

  initial begin
    ahb_vif.HCLK = 0;
    forever begin
      #10ns;
      ahb_vif.HCLK = ~ahb_vif.HCLK;
    end
  end

  initial begin
    uvm_config_db#(virtual ahb_if)::set(null, "*", "ahb_vif", ahb_vif);
    uvm_config_db#(virtual uart_if)::set(null, "*", "uart_vif", uart_vif);
    
    run_test();
  end

endmodule
